/**
 * darken(#f00, 10%) // 变暗
 * lighten(#f00, 10%) //变亮
 */

@white: #fff;
@grey: #dddee1;
@black: #000;
@base: #777;
@grey-light: lighten(@grey, 10%); // #efefef
@grey-dark: darken(@grey, 5%); // #cfd1d5


@primary: #337ab7;
@info: #269abc;
@success: #398439;
@warning: #d58512;
@danger: #ac2925;

@box-shadow-color: #d5e8fc;
@hover-color: #96c5f7;
@border-hover-color: #96c5f7;

@border-radius-width: 4px;

/* border-color */
@default-border-color: @grey;
@disabled-border-color: lighten(@grey, 6.5%);
@readonly-border-color: lighten(@grey, 6.5%);
@primary-border-color: darken(@primary, 6.5%);
@info-border-color: darken(@info, 6.5%);
@success-border-color: darken(@success, 6.5%);
@warning-border-color: darken(@warning, 6.5%);
@danger-border-color: darken(@danger, 6.5%);


/* background-color */
@default-bg-color: @white;
@disabled-bg-color: lighten(@grey, 10%);
@readonly-bg-color: lighten(@grey, 12%);
@primary-bg-color: @primary;
@info-bg-color: @info;
@success-bg-color: @success;
@warning-bg-color: @warning;
@danger-bg-color: @danger;

/* text-color */
@default-text-color: #333;
@disabled-text-color: @base;
@readonly-text-color: @base;
@primary-text-color: @primary;
@info-text-color: @info;
@success-text-color: @success;
@warning-text-color: @warning;
@danger-text-color: @danger;
